.o_survey_form .btn-primary{
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem !important;
}
.o_survey_form{
    padding: 0px !important;
    margin-bottom: 0px!important;
}
.survey_start_logo{
    background: #efefef;
    padding: 20px;
    text-align: center;
}
.survey_start_logo_img{
    width: 25%;
    max-width: 250px;
}
.survey_start_title{
    margin: 30px 0px;
    font-family: 'Gontserrat-Bold';
    background: linear-gradient(90deg, rgba(176,31,48,1) 0%, rgba(25,27,54,1) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.survey_start_image_wrapper{
    text-align: center;
}
.survey_start_image{
    width: 60%;
    max-width: 60%;
}
.survey_type_logo{
    text-align: center;
    margin-top: 35px;
}
.survey_type_logo_image{
    width: 15%;
    max-width: 80px;
}
.survey_type_heading{
    font-family: 'Gontserrat-Bold';
    background: linear-gradient(90deg, rgba(176,31,48,1) 0%, rgba(25,27,54,1) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    width: 80%;
    margin: 25px auto 10px auto;
}
.survey_type_content{
    font-size: 20pt;
    width: 80%;
    text-align: center;
    margin: auto;
}
.survey_start_btn_wrapper{
    margin: 80px auto;
    text-align: center;
}
.btn-primary.survey_start_btn{
    background: linear-gradient(90deg, #b01f30 0%, #191b36 90%);
    color: #fff;
    font-family: 'Roboto-Regular' !important;
    border-radius: 10px !important;
    border: 0px;
    padding: 15px 50px;
    font-size: 20pt;
}


.o_survey_finished{
    font-family: 'Roboto-Regular' !important;
}
.survey_end_logo{
    background: #efefef;
    padding: 20px;
    text-align: center;

}
.survey_end_logo_img{
    width: 25%;
    max-width: 250px;
}
.survey_end_banner{
    text-align: center;
    background: linear-gradient(90deg, #b01f30 0%, #191b36 90%);
    padding: 15px;
}
.survey_end_banner_img{
    width: 60%;
    max-width: 60%;
}
.survey_end_content_1{
    width: 80%;
    text-align: center;
    margin: 30px auto;
}
.survey_end_content_2{
    width: 80%;
    text-align: center;
    margin: auto;
}
.survey_end_heading{
    font-family: 'Roboto-Bold';
    background: linear-gradient(90deg, rgba(176,31,48,1) 0%, rgba(25,27,54,1) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    width: 80%;
    margin: 30px auto;
}
.why_choose_us_bg_wrapper{
    background: #efefef;
    padding: 20px 10%;
    margin-bottom: 40px;
}
.why_choose_us_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.why_choose_us_block{
    flex: 1;
    padding: 5px 20px;;
    text-align: center;
}
.why_choose_us_icon{
    max-width: 80px;
}
.why_choose_us_count{
    font-family: 'Roboto-Bold';
    margin: 0px;
}
.recognized_by_wrapper{
    width: 80%;
    margin: auto;
    text-align: center;
}
.recognized_by_img{
    width: 100%;
}
.survey_end_footer{
    background: #efefef;
    padding: 40px;
    text-align: center;
}
.survey_end_footer_text{
    width: 80%;
    text-align: center;
    margin: auto;
}
.survey_end_social_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    width: 80%;
}
.survey_end_social_block{
    max-width: 50px;
    padding: 5px;
    flex: 1;
}
.survey_end_social_icon{
    width: 100%;
    max-width: 100%;
}
@media only screen and (max-width: 767px) {
    .why_choose_us_wrapper{
        display: block;
    }
    .why_choose_us_block{
        margin-bottom: 15px;
    }
}