.main_state_wrapper {
	.task_state_wrapper {
		background: white;
		margin-bottom: 0px;
		padding-bottom:0px;
		margin-right: 10px;
	}
	.tasks_wrapper {
		background: white;
		padding-top : 0px;
		margin-right:10px;
		padding-left:20px;
		.task_details {
			background: white;
			font-size: 14px;
			&:hover {
				background: #ececec !important;
				text-decoration: none !important;
			}
		}
	}
}
a[href='/my/tasks'] {
    display: none !important;
}
a[href='/my/invoices'] {
    display: none !important;
}
// a[href='/my/timesheets'] {
//     display: none !important;
// }

.p-1 {
    padding: 0rem !important;
}

.font {
    font-size: 12px;
    list-style: none;
    text-align: left;
    padding-left: 0px;
    padding-top: 9px;
}

.align {
    text-align: right;
}

.o_portal_wrap .o_portal_my_doc_table td, .o_portal_wrap .o_portal_my_doc_table th {
    vertical-align: middle;
    white-space: unset !important;
    overflow: unset !important;
    text-overflow: unset !important;
}

element.style {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.modal-open #wrapwrap {
    overflow: auto;
}