.o_list_view {
    .o_list_table {
        tbody > tr > td {
            &.o_field_productive_logs_cell {
                white-space: nowrap !important;
            }
        }
    }
}

.o_alert_symbol {
    color : red;
    font-size: 12px; /* Adjust size as needed */
    margin-bottom: 5px; /* Adjust spacing as needed */
    margin-top: 3px; /* Adjust spacing as needed */
    margin-left: 5px; /* Adjust spacing as needed */
    /* Add any other styling properties */
}


.logs_title {
    max-height : 50px;
    font-size: 18px;
    font-weight: bold;
    padding-right:5px;
    padding-left:5px
}

.pr-20 {
    padding-right: 20px;
}

.popover-content {
    max-height: 300px; /* Ensure this is sufficient */
    min-width: 270px;
    max-width: 270px;
}

.table-container {
        max-height: 270px;
        overflow-y: auto;
        overflow-x: auto; // Allow horizontal scrolling
        position: relative;
    }
    .table-container table {
        border-collapse: collapse;;
        border-spacing: 0;
        min-width:270px;
        table-layout: auto;
        width: 100%;

    }

    .table-container thead th {
        height: 50px; /* Increased header height */
        vertical-align: middle; /* Vertically center the content */
        white-space: nowrap; // Prevent header text from wrapping
    }

    .table-container thead {
        position: sticky;
        top: 0;
        height: 20px;
        background-color: #f5f2f2; /* Slightly darker background color */
        z-index: 1;
    }
    .table-container tbody {
//         overflow-y: auto;
    }

    .table-container tbody tr {
        line-height: 1.4;
        padding-bottom: 5px;
    }
    .table-container tbody td {
           padding: 7px; // Add minimal padding
           vertical-align: top;
           white-space: nowrap; // Prevent text wrapping
    }

    .table-container tbody tr:hover {
        background-color: #f0f0f0 !important;
    }

.table-container::-webkit-scrollbar {
    width: 8px; /* Change this value to adjust the width */
    height: 8px; /* Change this value to adjust the height */
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 3px; /* Rounded corners */
}

.table-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 3px; /* Rounded corners */
}
