body.aktiv_login, 
body.o_home_menu_background {
    background: white;

    #wrapwrap {
        div.container, 
        .oe_website_login_container {
            max-width: 100%;

            .row {
                .login_card_container {
                    #login_card {
                        &.custom_bg_color {
                            background-color: inherit;
                            
                            .card-body {
                                background-color: inherit;
                            }
                        }

                        box-shadow: none;

                        .card-body {
                            // Additional styles for .card-body can be added here
                        }
                    }

                    form.oe_login_form, 
                    .oe_reset_password_form, 
                    .oe_signup_form {
                        margin: 5px auto;

                        .form-group > input, 
                        button {
                            border-radius: 0;
                        }
                    }
                }

                .login_background {
                    .login_background_container {
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;

                        .login_background_html {
                            // Additional styles for .login_background_html can be added here
                        }
                    }
                }
            }
        }
    }
}
