.odoo_days_page {
    height: 100%;
    background-image: url('/ak_odoo_days_contest/static/src/image/akt_odoo_days_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto-Regular' !important;

    .odoo_days_title {
        font-family: 'Roboto-Bold' !important;
        background: linear-gradient(90deg, rgba(176,31,48,1) 0%, rgba(25,27,54,1) 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .form-control {
        background: #e3e2e2;

        &::placeholder {
            color: #828282;
        }
    }

    .aktiv_form_wrapper {
        .has_hidden_field {
            position: relative;

            .hidden_field {
                height: 0 !important;
                width: 0 !important;
                position: absolute;
                z-index: -100;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .odoo_days_submit_btn {
        background: linear-gradient(90deg, rgba(176,31,48,1) 0%, rgba(25,27,54,1) 70%);
        color: #fff;
        font-family: 'Roboto-Bold' !important;
        border-radius: 5px !important;
        border: 0;
        padding: 10px;
        font-size: larger;
    }

    .objective_options_wrapper {
        label {
            font-weight: normal;
        }

        .objective_input {
            display: flex;
            align-items: flex-start;

            .objectives_options {
                margin-top: 5px;
            }

            .objectives_options_label {
                padding-left: 5px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .odoo_days_page {
        .aktiv_banner_wrapper {
            height: 100vh;
            padding-left: 8%;
            padding-right: 8%;

            .aktiv_banner_div img {
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }

        .aktiv_form_wrapper {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .odoo_days_page {
        .aktiv_banner_wrapper {
            padding-top: 20%;
            padding-bottom: 5%;

            .aktiv_banner_div img {
                max-width: 350px;
                width: 100%;
                height: auto;
            }
        }
    }
}
